.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	font-size: 23px;
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	font-size: 23px;
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 1px;
    position: relative;
    top: 2px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}