<div id="notification" class="notification-bar" style="z-index: 9999;">
    <span class="icon">🔔</span>
    <span id="notification-text" class="text">This is a dynamic notification alert!</span>
    <button onclick="closeNotification()">✖</button>
</div>