<div id="VerificationForm" style="display:none;">
    <form action="JavaScript:void(0);">
        <div class="center">
            <input id="verificationCode" class="input-text mt-10" type="text" placeholder="Enter Verification Code">
        </div>
        <div class="center mt-20">
            <input onclick="VerifyCodeEmail();" class="Submit-Btn" type="submit" value="Verify Code">
        </div>
    </form>
</div>
