<div id="ForgotPasswordForm" style="display:none;">
    <form action="JavaScript:void(0);">
        <div class="center mt-20">
            <input class="input-text" type="email" id="forgotPassEmail" placeholder="Email Address">
        </div>
        <div class="center mt-20">
            <input onclick="SendResetPasswordCode();" class="Submit-Btn" type="submit" value="Send Reset Code" id="PasswordResetBtn">
        </div>
    </form>
    <p class="center mt-20 already-have-account">
        Back to the 
        <a href="JavaScript:void(0);" onclick="ShowLoginForm()">Login page</a> | <a href="JavaScript:void(0);" onclick="ShowRegistrationForm()">Register page</a>
    </p>
</div>