<div id="LoginFrom">
    <form id="login-form">
        <div class="center">
            <input id="LoginEmail" class="input-text" type="text" placeholder="Email Address"> 
            <input id="LoginPassword" class="mt-10 input-text" type="password" placeholder="Password">
        </div>
        
        <div class="forgot-pass-remember-me mt-10">
            <div class="forgot-pass">
                <a id="ForgotPassword" href="JavaScript:void(0);" onclick="ShowForgotPasswordForm()">Forgot Password?</a>
            </div>
            <div class="remember-me">
                <input id="rememberMe" type="checkbox">
                <label for="rememberMe">Remember Me</label>
            </div>
        </div>

        <div class="center mt-20">
            <input onclick="return ValidateLoginForm();" class="Submit-Btn" type="submit" value="Login" id="LoginBtn">
        </div>
    </form>
    <p class="center mt-20 dont-have-account">
        Don't have an account? 
        <a href="JavaScript:void(0);" onclick="ShowRegistrationForm()">Register now</a>
    </p>
</div>