<div id="ResetPasswordForm" style="display:none;">
    <form action="JavaScript:void(0);">
        <div class="center">
            <input id="NewPassword" class="mt-10 input-text" type="password" placeholder="New Password">
            <input id="ConfirmNewPassword" class="mt-10 input-text" type="password" placeholder="Confirm Password">
        </div>
        <div class="center mt-20">
            <input onclick="ResetPassword();" class="Submit-Btn" type="submit" value="Change Password" id="PasswordChangeBtn">
        </div>
    </form>
    <p class="center mt-20 already-have-account">
        Back to the 
        <a href="JavaScript:void(0);" onclick="ShowLoginForm()">Login page</a>
    </p>
</div>
